.txt {
  &--center {
    text-align: center;
  }
}

.dna-wrap {
  max-width: $dna-row-width;
  margin: 100px auto 0;
  animation: rotate_anim 20s 0.2s forwards linear infinite;
}

.dna-row {
  width: $dna-row-width;
  height: 50px;
  position: relative;
  margin: 0 auto;
}

.line {
  position: absolute;
  height: 2px;
  background-color: #fff;
  width: 98%;
  left: 1%;
  top: #{$dna-diameter / 2 - 2};
  animation: line_anim 1s forwards linear infinite;
}

.circle {
  display: inline-block;
  width: $dna-diameter;
  height: $dna-diameter;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  top: 0;
  &-1 {
    left: 0;
    background-color: white;
    animation: circle_anim_1 2s forwards $dna-timing infinite;
  }
  &-2 {
    right: 0;
    background-color: red;
    animation: circle_anim_2 2s forwards $dna-timing infinite;
  }
}

@for $i from 2 through 14 {
  .dna-row:nth-child(#{$i}) {
    .circle {
      &-1 {
        animation-delay: #{$i / 5}s;
      }
      &-2 {
        animation-delay: #{$i / 5}s;
      }
    }
    .line {
      animation-delay: #{$i / 5}s;
    }
  }
}

@keyframes circle_anim_1 {
  0%,
  100% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX($dna-translate) scale($dna-scale);
  }
}

@keyframes circle_anim_2 {
  0%,
  100% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(-$dna-translate) scale($dna-scale);
  }
}

@keyframes line_anim {
  0%,
  100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
}

@keyframes rotate_anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
