extends ../layouts/common-layout.pug
block vars
  -var title = 'Main page';
  -var description = 'This is main page';
  -var n = 0;
block styles
  link(rel="stylesheet" href="./css/main.css")
block content
  h1.txt--center DNA molecule
  .dna-wrap
    for n in Array(14)
      .dna-row
        .circle.circle-1
        .circle.circle-2
        .line
block scripts
  script(src="./index.js")